<!DOCTYPE html>
<html lang="en">

<head>
    <script src="./../node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title>Document</title>
    <script>
        $(document).ready(function () {
            $("#btn").on('click', function () {
                alert('btn clicked');
            });
        });
    </script>
</head>

<body>
    <h1>The Home Page</h1>
    <input type="button" id="btn" value="Click Me" class="btn btn-success">
</body>

</html>